#main .prereqs {
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: left;
    font-size: 1rem;
    background-color: $grey-color-light;
    padding: 1.5rem;
    line-height: 1.5em;
    border-left: 4px solid $brand-color;

    h3 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        @media (max-width: $layout-breakpoint-small) {
            font-size: 1.75rem;
            margin-bottom: 0.75rem;
        }
    }

    p {
        margin-bottom: 0.5rem;
    }

    a {
        color: $brand-color;
    }
}
