/* Typography */

#waitlistPopup p, #thankYouPopup p { font-weight: 300; }
#waitlistPopup .pricing-info p, #thankYouPopup .pricing-info p { font-weight: 600; }

/* Styles for the waitlist popup */
#waitlistPopup .modal-content, #timePreferencePopup .modal-content, #thankYouPopup .modal-content {
    max-width: 600px;
}



.time-options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.no-times-link {
    display: block;
    margin: 1em 0;
    color: #666;
    text-decoration: underline;
    cursor: pointer;
}

#otherTimesContainer {
    margin-top: 1em;
}

#otherTimesContainer label {
    display: block;
    margin-bottom: 0.5em;
}

#otherTimesContainer textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}


#waitlistEmail {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}



#waitlistPopup button:hover {
    background-color: #801E56;
}

#waitlistOriginalPrice {
    text-decoration: line-through;
    color: #999;
}

#waitlistPopup .pricing-info {
    margin-top: 1em;
    margin-bottom: 1em;
}



#waitlistPopup #waitlistPrice {
    color: #AD2A71;
}

#waitlistPopup #waitlistItemName {
    font-weight: 400;
}

#waitlistPopup #waitlistDiscount {
    color: #AD2A71;
    display: none;
}
