{% if page.registration-open %}
    <div class="discount-sections">
        <div class="callout show-if-full">
            <p>Sliding scale available</p>
            <button class="openPopup outline medium">Check for discounts</button>
        </div>
        <div class="callout show-if-discount1 hidden">
            <p>Sliding scale discount: <strong>{{ page.discount1 }}% off</strong></p>
            <button class="openPopup outline medium">Change</button>
        </div>
        <div class="callout show-if-discount2 hidden">
            <p>Sliding scale discount: <strong>{{ page.discount2 }}% off</strong></p>
            <button class="openPopup outline medium">Change</button>
        </div>
    </div>
{% endif %}