<div class="discount-sections">
    <div class="discount-section show-if-full">
        <p>Sliding scale available</p>
        <button class="openPopup outline medium">Check for discounts</button>
    </div>
    <div class="discount-section show-if-discount1 hidden">
        <p>Sliding scale discount: <strong>{{ page.discount1 }}% off</strong></p>
        <button class="openPopup outline medium">Change</button>
    </div>
    <div class="discount-section show-if-discount2 hidden">
        <p>Sliding scale discount: <strong>{{ page.discount2 }}% off</strong></p>
        <button class="openPopup outline medium">Change</button>
    </div>
</div>


<div class="pricing-matrix">
    {% include product-grid.html price-variant="full" visible=true %}
    {% include product-grid.html price-variant="discount1" discount=page.discount1 visible=false %}
    {% include product-grid.html price-variant="discount2" discount=page.discount2 visible=false %}
</div>