<div id="container-pricing">
    <div id="container-pricing-full" class="pricing-option">
        <div id="container04" class="container columns">
            <div class="wrapper">
                <div class="inner">
                    <div>
                        <h1 id="text05" class="style6">Live Online Workshop</h1>
                        <div id="list08" class="style2 list">
                            <ul>
                                <li>
                                    <p>Take the class live over Zoom</p>
                                </li>
                                <li>
                                    <p>Ask questions in real time</p>
                                </li>
                                <li>
                                    <p>Access to video recordings until 1 week after the last class</p>
                                </li>
                                <li>
                                    <p>Connect with other students on Tim's private Discord server</p>
                                </li>
                                <li>
                                    <p><strong>8 seats only—first come, first serve</strong></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h1 id="text09" class="style7">$250</h1>
                        <div id="widget04">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input
                                    type="hidden" name="cmd" value="_xclick"><input type="hidden"
                                    name="business" value="9KKTZB5CU77W6"><input type="hidden" name="item_name"
                                    value="Live Online Workshop"><input type="hidden" name="currency_code"
                                    value="USD"><input type="hidden" name="amount" value="250"><input
                                    type="hidden" name="shipping" value="0"><input type="hidden" name="tax"
                                    value="0"><input type="hidden" name="quantity" value="1"><input
                                    type="hidden" name="return"
                                    value="https://www.timdoseart.com/shading-workshop-thank-you/"><input
                                    type="hidden" name="cancel_return"
                                    value="https://shadingworkshopsignup.timdoseart.com"><input type="hidden"
                                    name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHosted"><input
                                    type="image"
                                    src="./assets/btn_buynow_LG.gif" border="0"
                                    name="submit" alt="PayPal - The safer, easier way to pay online!"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="container03" class="container columns">
            <div class="wrapper">
                <div class="inner">
                    <div>
                        <h1 id="text08" class="style6">Recordings Only</h1>
                        <div id="list07" class="style2 list">
                            <ul>
                                <li>
                                    <p>Access to video recordings until 1 week after the last class</p>
                                </li>
                                <li>
                                    <p>Connect with other students on Tim's private Discord server</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h1 id="text14" class="style7">$175</h1>
                        <div id="widget03">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input
                                    type="hidden" name="cmd" value="_xclick"><input type="hidden"
                                    name="business" value="9KKTZB5CU77W6"><input type="hidden" name="item_name"
                                    value="Recordings Only"><input type="hidden" name="currency_code"
                                    value="USD"><input type="hidden" name="amount" value="175"><input
                                    type="hidden" name="shipping" value="0"><input type="hidden" name="tax"
                                    value="0"><input type="hidden" name="quantity" value="1"><input
                                    type="hidden" name="return"
                                    value="https://www.timdoseart.com/shading-workshop-thank-you/"><input
                                    type="hidden" name="cancel_return"
                                    value="https://shadingworkshopsignup.timdoseart.com"><input type="hidden"
                                    name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHosted"><input
                                    type="image"
                                    src="./assets/btn_buynow_LG.gif" border="0"
                                    name="submit" alt="PayPal - The safer, easier way to pay online!"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="container01" class="container columns">
            <div class="wrapper">
                <div class="inner">
                    <div>
                        <h1 id="text10" class="style8">Add-on</h1>
                        <h1 id="text15" class="style6">Custom video critiques</h1>
                        <div id="list04" class="style2 list">
                            <ul>
                                <li>
                                    <p>Send your work after each class for a custom-recorded, 15-minute video
                                        critique from Tim.</p>
                                </li>
                                <li>
                                    <p>Available as an add-on for both the Live Workshop and Recordings Only
                                        options.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h1 id="text16" class="style7">$100</h1>
                        <div id="widget08">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input
                                    type="hidden" name="cmd" value="_xclick"><input type="hidden"
                                    name="business" value="9KKTZB5CU77W6"><input type="hidden" name="item_name"
                                    value="Video critique add-on"><input type="hidden" name="currency_code"
                                    value="USD"><input type="hidden" name="amount" value="100"><input
                                    type="hidden" name="shipping" value="0"><input type="hidden" name="tax"
                                    value="0"><input type="hidden" name="quantity" value="1"><input
                                    type="hidden" name="return"
                                    value="https://www.timdoseart.com/shading-workshop-thank-you/"><input
                                    type="hidden" name="cancel_return"
                                    value="https://shadingworkshopsignup.timdoseart.com"><input type="hidden"
                                    name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHosted"><input
                                    type="image"
                                    src="./assets/btn_buynow_LG.gif" border="0"
                                    name="submit" alt="PayPal - The safer, easier way to pay online!"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>