{% if include.discount %}
    {% assign final_price = page.prices.live | times: include.discount | divided_by: 100 | times: -1 | plus: page.prices.live %}
{% else %}
    {% assign final_price = page.prices.live %}
{% endif %}

<div class="container-pricing show-if-{{include.price-variant}} {% if include.visible == false %}hidden{% endif %}">
    <div class="pricing-option">
        {% if page.prices.live %}
            {% include products/live-online-workshop.html discount=include.discount %}
        {% endif %}
        {% if page.prices.live-plus-1-1 %}
            {% include products/live-plus-1-1.html discount=include.discount %}
        {% endif %}
        {% if page.prices.recordings-only and page.registration-open %}
            {% include products/recordings-only.html discount=include.discount %}
        {% endif %}
    </div>
</div>