{% if include.discount %}
    {% assign final_price = page.prices.live | times: include.discount | divided_by: 100 | times: -1 | plus: page.prices.live %}
{% else %}
    {% assign final_price = page.prices.live %}
{% endif %}
<div class="container-pricing container-pricing-{{include.price-variant}} {% if include.visible == false %}hidden{% endif %}">
    <div class="pricing-option">
        <div class="pricing-option container columns">
            <div class="wrapper">
                <div class="inner">
                    <div>
                        <h1 id="text05" class="style6">Live Online Workshop</h1>
                        <div id="list08" class="style2 list">
                            <ul>
                                <li>
                                    <p>Take the class live over Zoom</p>
                                </li>
                                <li>
                                    <p>Ask questions in real time</p>
                                </li>
                                <li>
                                    <p>Access to video recordings until 1 week after the last class</p>
                                </li>
                                <li>
                                    <p>Connect with other students on Tim's private Discord server</p>
                                </li>
                                <li>
                                    <p><strong>8 seats only—first come, first serve</strong></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        {% include price-button.html price=page.prices.live discount=include.discount item_name="Live Online Workshop" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing-option container columns">
            <div class="wrapper">
                <div class="inner">
                    <div>
                        <h1 id="text08" class="style6">Recordings Only</h1>
                        <div id="list07" class="style2 list">
                            <ul>
                                <li>
                                    <p>Access to video recordings until 1 week after the last class</p>
                                </li>
                                <li>
                                    <p>Connect with other students on Tim's private Discord server</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        {% include price-button.html price=page.prices.recordings discount=include.discount item_name="Recordings Only" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing-addon container columns">
            <div class="wrapper">
                <div class="inner">
                    <div>
                        <h1 id="text10" class="style8">Add-on</h1>
                        <h1 id="text15" class="style6">Custom video critiques</h1>
                        <div id="list04" class="style2 list">
                            <ul>
                                <li>
                                    <p>Send your work after each class for a custom-recorded, 15-minute video
                                        critique from Tim.</p>
                                </li>
                                <li>
                                    <p>Available as an add-on for both the Live Workshop and Recordings Only
                                        options.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        {% include price-button.html price=page.prices.addon discount=include.discount item_name="Video critique add-on" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>