<div class="schedule">
    <h3>Schedule</h3>
    {% for month in site.data.schedule.months %}
        {% assign has_class = false %}
        {% for session in month.sessions %}
            {% for time_slot in session %}
                {% if time_slot[1] == include.classID %}
                    {% assign has_class = true %}
                    {% assign class_time = site.data.schedule.times | where: "id", time_slot[0] | first %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% if has_class %}
            <div class="schedule-row">
                <h4 class="schedule-month">{{ month.month }}</h4>
                <div class="schedule-time">
                    {{ class_time.reference_time.day }}s {{ class_time.reference_time.start | date: "%-I:%M %P" }} - {{ class_time.reference_time.end | date: "%-I:%M %P" }} ET
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<style>
.schedule-row {
    display: flex;
    gap: 2rem;
    height: 3rem;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.schedule-month {
    width: 8em;
    margin: 0;
}

.schedule-time {
    margin: 0;
}

@media (max-width: 600px) {
    .schedule-row {
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
        height: auto;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    
    .schedule-month {
        width: auto;
    }
}
</style>