<!-- Popup Modal -->
<div id="discountPopup" class="modal">
    <div class="modal-content">
        <div class="close">
            <span>&times;</span>
        </div>
        <h1 class="modal-title">Sliding scale pricing</h1>
        <p class="discount-popup-intro">
            I'm basing this on the honor system. Please pay what you can!
        </p>
        <h2>
            Which of these describes you best?
        </h2>
        <div class="discount-options">
            <div class="discount-option">
                <ul>
                    <li>I'm generally comfortable and meet all of my needs.</li>
                    <li>I can easily make my mortgage or rent payments.</li>
                    <li>I'm healthy and don't have major medical bills.</li>
                    <li>I have savings and extra money to spend on art.</li>
                    <li>I live in a wealthy country.</li>
                </ul>
                <div class="discount-option-button-container">
                    <strong>I can pay&nbsp;</strong>
                    <button class="discount-option-button outline" data-variant="full">Full price</button>
                </div>
            </div>
            <div class="discount-option" data-variant="discount1">
                <ul>
                    <li>I usually meet my needs but sometimes have to worry about them.</li>
                    <li>I can make my mortgage or rent payments but have to be careful with other expenses.</li>
                    <li>I have some medical bills and need to save money for emergencies.</li>
                    <li>I have some debt that limits my ability to save.</li>
                </ul>
                <div class="discount-option-button-container">
                    <strong>I could really use a&nbsp;</strong>
                    <button class="discount-option-button outline" data-variant="discount1">20% discount</button>
                </div>
            </div>
            <div class="discount-option" data-variant="discount2">
                <ul class="list">
                    <li>I sometimes struggle to meet my basic needs.</li>
                    <li>I sometimes have trouble making my mortgage or rent payments.</li>
                    <li>I have major medical bills and need help with them.</li>
                    <li>I have a lot of debt and can't save any money.</li>
                    <li>I live in a country with low income.</li>
                </ul>
                <div class="discount-option-button-container">
                    <strong>I could really use a&nbsp;</strong>
                    <button class="discount-option-button outline" data-variant="discount2">40% discount</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./assets/sliding-scale-popup.js"></script>