<div id="timePreferencePopup" class="modal hidden">
    <div class="modal-content">
        <span class="close" data-test-id="close-time-preference-popup">&times;</span>
        <h2>You've been added to the waitlist!</h2>
        <p>Which times work for you?</p>
        <p class="subtext">Please check all that apply.</p>
        <form id="timePreferenceForm">
            <div class="time-options-container">
                {% for time in page.times %}
                    <div>
                    <input type="checkbox" name="timePreference" value="{{ time }}">
                    <label for="{{ time }}">
                        {{ time }} 
                        <span class="local-time" data-original-time="{{ time }}"></span>
                    </label>
                    </div>
                {% endfor %}
            </div>
            <a href="#" id="noTimesLink" class="no-times-link">None of these times work for me</a>
            <div id="otherTimesContainer" class="hidden">
                <label for="otherTimes">What days &amp; times would work for you?</label>
                <textarea id="otherTimes" name="otherTimes" rows="3"></textarea>
            </div>
            <input type="hidden" name="waitlistEmail" id="submittedWaitlistEmail" value="">
            <div class="button-container">
                <button type="submit" id="submitTimePreferenceButton" class="button" data-test-id="submit-time-preference-button">Submit</button>
            </div>
        </form>
    </div>
</div>
<script src="{{ site.workshop-asset-folder }}time-preference-popup.js"></script>