---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


.page-content {
    font-size: 1.25rem;

}

.wrapper {
    max-width: $layout-breakpoint-large;


    @media (max-width: $layout-breakpoint-large) {
        max-width: $layout-breakpoint-medium;
    }   
    @media (max-width: $layout-breakpoint-medium) {
        max-width: $layout-breakpoint-small;
    }
}


@media screen and (max-width: 800px) {
    .wrapper {
        padding-right: 21.3333px;
        padding-left: 21.3333px;
    }
}