<div class="pricing-option container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <h1 id="text05" class="style6">Live Online Workshop + 1-1 goal-setting session</h1>
                <div id="list08" class="list">
                    <ul>
                        <li>Take the class live over Zoom</li>
                        <li>30 minute, 1-1 session to discuss your goals for the month</li>
                        <li>Work on your own project with guidance from Tim</li>
                        <li>Access to video recordings ✨<em>forever</em>✨</li>
                    </ul>
                </div>
            </div>
            <div>
                {% include price-button.html price=page.prices.live-plus-1-1 discount=include.discount ask_times=page.showPossibleTimes item_name="Live Online Workshop + 1-1 goal-setting session" %}
            </div>
        </div>
    </div>
</div>