<div class="pricing-option container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <h1 id="text08" class="style6">Recordings Only</h1>
                <div id="list07" class="list">
                    <ul>
                        <li>
                            <p>Access to video recordings until 1 week after the last class</p>
                        </li>
                        <li>
                            <p>Connect with other students on Tim's private Discord server</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                {% include price-button.html price=page.prices.recordings discount=include.discount item_name="Recordings Only" %}
            </div>
        </div>
    </div>
</div>
