@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid rgb(242.2, 242.2, 242.2);
  min-height: 55.95px;
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
.site-title, .site-title:visited {
  color: rgb(66.25, 66.25, 66.25);
}

.site-nav {
  float: right;
  line-height: 54px;
}
.site-nav .nav-trigger {
  display: none;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  color: #111;
  line-height: 1.5;
}
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 980px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid rgb(242.2, 242.2, 242.2);
    border-radius: 5px;
    text-align: right;
  }
  .site-nav label[for=nav-trigger] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    fill: rgb(66.25, 66.25, 66.25);
  }
  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    margin-left: 20px;
    padding: 5px 10px;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid rgb(242.2, 242.2, 242.2);
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - 30px / 2);
}

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - 30px / 2);
}

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - 30px / 2);
}

@media screen and (max-width: 1024px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - 30px / 2);
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - 30px / 2);
  }
}
@media screen and (max-width: 980px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - 30px / 2);
  }
}
/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1;
}

.page-heading {
  font-size: 32px;
}

.post-list-heading {
  font-size: 28px;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 1024px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 1024px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .post-content h4 {
    font-size: 18px;
  }
}

.site-header {
  font-size: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  z-index: 39;
  background-color: #fff;
}
@media (max-width: 980px) {
  .site-header {
    position: absolute;
    width: 100%;
    font-size: 1rem;
    padding-left: 21.3333px;
    padding-right: 21.3333px;
  }
}

.site-title, .site-title:visited {
  text-decoration: none;
}
@media (max-width: 980px) {
  .site-title, .site-title:visited {
    font-size: 1rem;
  }
}

#main .prereqs {
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: left;
  font-size: 1rem;
  background-color: rgb(242.2, 242.2, 242.2);
  padding: 1.5rem;
  line-height: 1.5em;
  border-left: 4px solid #AD2A71;
}
#main .prereqs h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
@media (max-width: 980px) {
  #main .prereqs h3 {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
  }
}
#main .prereqs p {
  margin-bottom: 0.5rem;
}
#main .prereqs a {
  color: #AD2A71;
}

.pricing-matrix {
  margin-bottom: 2rem;
}

.pricing-option {
  --alignment: left;
  --flex-alignment: flex-start;
  --indent-left: 1;
  --indent-right: 0;
  --margin-left: 0;
  --margin-right: auto;
  gap: 4px;
}

.pricing-option:not(:last-child) {
  margin-bottom: 0.5rem;
}

.pricing-option > .wrapper {
  display: inline-block;
  width: 100%;
  background-color: rgb(242.2, 242.2, 242.2);
}

.pricing-option > .wrapper > .inner {
  --gutters: 2rem;
  --padding-horizontal: 1.5rem;
  --padding-vertical: 1.5rem;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.pricing-option.default > .wrapper > .inner > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

.pricing-option.default > .wrapper > .inner > *:first-child {
  margin-top: 0 !important;
}

.pricing-option.default > .wrapper > .inner > *:last-child {
  margin-bottom: 0 !important;
}

.pricing-option.columns > .wrapper > .inner {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1024px) {
  .pricing-option.columns > .wrapper > .inner {
    flex-direction: column;
  }
}

.pricing-option.columns > .wrapper > .inner > * {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  text-align: var(--alignment);
}
@media (max-width: 1024px) {
  .pricing-option.columns > .wrapper > .inner > * {
    padding: 0;
  }
}

.pricing-option.columns > .wrapper > .inner > * > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

.pricing-option.columns > .wrapper > .inner > * > *:first-child {
  margin-top: 0 !important;
  padding: 0 2rem 0 0;
}

.pricing-option.columns > .wrapper > .inner > * > *:last-child {
  margin-bottom: 0 !important;
}

.pricing-option.default > .wrapper > .inner > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  max-width: none !important;
  width: calc(100% + var(--padding-horizontal) * 2 + 0.4725px);
}

.pricing-option.default > .wrapper > .inner > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.pricing-option.default > .wrapper > .inner > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.pricing-option.columns > .wrapper > .inner > div > .full {
  margin-left: calc(var(--gutters) * -0.5);
  max-width: none !important;
  width: calc(100% + var(--gutters) + 0.4725px);
}

.pricing-option.columns > .wrapper > .inner > div:first-child > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  width: calc(100% + var(--padding-horizontal) + var(--gutters) * 0.5 + 0.4725px);
}

.pricing-option.columns > .wrapper > .inner > div:last-child > .full {
  width: calc(100% + var(--padding-horizontal) + var(--gutters) * 0.5 + 0.4725px);
}

.pricing-option.columns > .wrapper > .inner > div > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
}

.pricing-option.columns > .wrapper > .inner > div > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

.pricing-option.columns > .wrapper > .inner > .full {
  align-self: stretch;
}

.pricing-option.columns > .wrapper > .inner > .full:first-child {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}

.pricing-option.columns > .wrapper > .inner > .full:last-child {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}

.pricing-option.columns > .wrapper > .inner > .full > .full:first-child:last-child {
  border-radius: inherit;
  height: calc(100% + var(--padding-vertical) * 2);
}

.pricing-option.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
  border-radius: inherit;
  height: 100%;
  position: absolute;
  width: 100%;
}

.pricing-option > .wrapper > .inner > :nth-child(1) {
  width: calc(75% + var(--gutters) / 2);
  padding-right: 1rem;
}
@media (max-width: 980px) {
  .pricing-option > .wrapper > .inner > :nth-child(1) {
    width: 100%;
    padding-right: 0;
  }
}

.pricing-option > .wrapper > .inner > :nth-child(2) {
  width: calc(25% + var(--gutters) / 2);
  --alignment: left;
  --flex-alignment: flex-start;
  --indent-left: 1;
  --indent-right: 0;
  --margin-left: 0;
  --margin-right: auto;
}
@media (max-width: 980px) {
  .pricing-option > .wrapper > .inner > :nth-child(2) {
    width: 100%;
  }
}

.original-price {
  text-decoration: line-through;
  color: #828282;
}

/* Typography */
button, .button {
  font-size: 0.9rem;
  font-family: "Spectral", serif;
}

button, .button {
  background-color: #AD2A71;
  color: #fff;
  padding: 6.4px 12.8px; /* .4em .8em */
  border-radius: 4px; /* .25em */
  border: none;
  cursor: pointer;
}

button:active, .button:active {
  background-color: #53183a;
}

button:hover, .button:hover {
  background-color: #801E56;
}

button.outline, .button.outline {
  background-color: transparent;
  border: 1px solid #AD2A71;
  color: #AD2A71;
}

button.outline:hover, .button.outline:hover {
  background-color: #AD2A71;
  color: #fff;
}

button.medium, .button.medium {
  padding: 9.6px 16px; /* .6em 1em */
}

button.large, .button.large {
  padding: 12.8px 19.2px; /* .8em 1.2em */
}

/* Typography */
.discount-section p {
  font-size: 1.2rem;
  font-weight: 500;
}

#discountPopup {
  font-size: 1rem;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

/* Existing styles for discount options */
.discount-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.discount-option {
  padding: 20px;
  background-color: #EBEBEB;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discount-option-button-container {
  border-top: 1px solid #ccc;
  padding-top: 18px;
}

@media (max-width: 980px) {
  #discountPopup h2 {
    margin: 10px 0 20px;
  }
  .discount-options {
    flex-direction: column;
  }
  .discount-option {
    padding: 20px;
    width: 100%;
  }
  #main div.discount-section {
    flex-direction: column;
    gap: 12px; /* 0.75em */
    padding-top: 24px; /* 1.5em */
    align-items: flex-start;
  }
}
#main div.discount-sections {
  margin-bottom: 4px;
}

#main .discount-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px; /* 1em 1.5em */
  background-color: #f6e8f2;
  margin-bottom: 4px; /* 0.4em */
}

.discount-section {
  color: #AD2A71;
}

@media (max-width: 980px) {
  #main div.discount-section {
    flex-direction: column;
    gap: 12px;
    padding-top: 24px;
    align-items: flex-start;
  }
}
/* Typography */
.modal {
  font-size: 1rem;
}

.modal h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

/* General modal styles */
.modal {
  position: fixed;
  z-index: 40;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-title {
  margin-bottom: 20px;
  font-size: 48px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 90%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  z-index: 50;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 980px) {
  .modal-content {
    padding: 20px;
  }
}
.modal-content .subtext {
  font-style: italic;
  color: #666;
}

.modal-content form {
  margin-bottom: 20px;
}

/* Typography */
#waitlistPopup p, #thankYouPopup p {
  font-weight: 300;
}

#waitlistPopup .pricing-info p, #thankYouPopup .pricing-info p {
  font-weight: 600;
}

/* Styles for the waitlist popup */
#waitlistPopup .modal-content, #timePreferencePopup .modal-content, #thankYouPopup .modal-content {
  max-width: 600px;
}

.time-options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.no-times-link {
  display: block;
  margin: 1em 0;
  color: #666;
  text-decoration: underline;
  cursor: pointer;
}

#otherTimesContainer {
  margin-top: 1em;
}

#otherTimesContainer label {
  display: block;
  margin-bottom: 0.5em;
}

#otherTimesContainer textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

#waitlistEmail {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#waitlistPopup button:hover {
  background-color: #801E56;
}

#waitlistOriginalPrice {
  text-decoration: line-through;
  color: #999;
}

#waitlistPopup .pricing-info {
  margin-top: 1em;
  margin-bottom: 1em;
}

#waitlistPopup #waitlistPrice {
  color: #AD2A71;
}

#waitlistPopup #waitlistItemName {
  font-weight: 400;
}

#waitlistPopup #waitlistDiscount {
  color: #AD2A71;
  display: none;
}

.gallery .inner {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.gallery ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.gallery ul li {
  position: relative;
  padding: 0;
  margin: 0;
  width: 11rem;
}
@media (max-width: 980px) {
  .gallery ul li {
    width: 15rem;
  }
}

.gallery ul li::before {
  content: "";
  background-image: none;
}

.gallery ul li .thumbnail {
  border-radius: inherit;
  position: relative;
}

.gallery ul li .frame {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.gallery ul li img {
  margin: 0;
  max-width: 100%;
  vertical-align: top;
  width: auto;
}

.gallery ul li .caption {
  width: 100%;
}

.gallery ul li .caption p {
  width: 100%;
}

.gallery ul li .caption a,
.gallery ul li .caption spoiler-text {
  pointer-events: auto;
}

@keyframes gallery-modal-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gallery-modal {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align-content: center;
  align-items: center;
  background-color: var(--color-background);
  display: grid;
  grid-template-areas: "previous image next" "caption caption caption";
  grid-template-columns: min-content auto min-content;
  height: 100%;
  justify-content: space-between;
  left: 0;
  opacity: 0;
  outline: 0;
  padding: 2rem 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  touch-action: pan-x pinch-zoom;
  transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s, background-color 0.5s ease;
  user-select: none;
  visibility: hidden;
  width: 100%;
  z-index: 0;
}

.gallery-modal:before {
  animation: gallery-modal-spinner 1s infinite linear;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4rem;
  content: "";
  display: block;
  height: 4rem;
  left: 50%;
  margin: -2rem 0 0 -2rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: opacity 0.25s ease;
  transition-delay: 0.5s;
  width: 4rem;
}

.gallery-modal .inner {
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.35);
  grid-area: image;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transform: translateY(0.75em);
  transition: all 0.5s ease;
  width: 100%;
}

.gallery-modal .inner img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
  max-width: var(--natural-width, none);
  max-height: var(--natural-height, none);
}

.gallery-modal .caption {
  color: var(--color-caption-text);
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  grid-area: caption;
  line-height: 1.6;
  opacity: 0;
  padding: 2rem 2rem 0 2rem;
  pointer-events: none;
  text-align: center;
  transform: translateY(0.25em);
  transition: all 0.5s ease;
}

.gallery-modal .caption::-webkit-scrollbar {
  display: none;
}

.gallery-modal .caption a,
.gallery-modal .caption spoiler-text {
  pointer-events: auto;
}

.gallery-modal .nav {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem;
  cursor: pointer;
  height: 6rem;
  transition: opacity 0.25s ease, transform 0.5s ease;
  width: 8rem;
}

.gallery-modal .nav:hover {
  opacity: 1 !important;
}

.gallery-modal .nav.next {
  grid-area: next;
}

.gallery-modal .nav.previous {
  grid-area: previous;
  transform: scaleX(-1);
}

.gallery-modal .close {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-position: top 1rem right 1rem;
  background-repeat: no-repeat;
  background-size: 3rem;
  cursor: pointer;
  display: block;
  height: 6rem;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s ease, transform 0.5s ease;
  width: 6rem;
}

.gallery-modal .close:hover {
  opacity: 1 !important;
}

.gallery-modal.visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  z-index: 10000;
}

.gallery-modal.visible:before {
  opacity: 1;
}

.gallery-modal.loaded:before {
  opacity: 0 !important;
  transition-delay: 0s !important;
}

.gallery-modal.loaded .inner {
  opacity: 1;
  transform: translateY(0);
}

.gallery-modal.loaded .caption {
  opacity: 1;
  transform: translateY(0);
}

.gallery-modal.switching .inner {
  transition: opacity 0.375s ease, transform 0.5s ease;
}

.gallery-modal.switching.from-left .inner {
  transform: translateY(0) translateX(-1.5em);
}

.gallery-modal.switching.from-right .inner {
  transform: translateY(0) translateX(1.5em);
}

.gallery-modal.switching.done .inner {
  transition: opacity 0.375s ease;
  transform: translateY(0) translateX(0);
}

.gallery-modal.zooming {
  background-color: var(--color-background-zooming);
}

.gallery-modal.zooming .caption {
  opacity: 0;
}

.gallery-modal.zooming .nav.next {
  opacity: 0;
  pointer-events: none;
  transform: translateX(50%);
}

.gallery-modal.zooming .nav.previous {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%) scaleX(-1);
}

.gallery-modal.zooming .close {
  opacity: 0;
  pointer-events: none;
  transform: translateX(50%) translateY(-50%);
}

.gallery-modal.dark {
  --color-background: rgba(10, 10, 10, 0.85);
  --color-background-zooming: rgba(0, 0, 0, 1);
  --color-caption-text: #FFFFFF;
}

.gallery-modal.dark:before {
  animation: gallery-modal-spinner 1s infinite linear;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNGRkZGRkY7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==");
}

.gallery-modal.dark .close {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICNGRkZGRkY7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjAiIHkxPSIyMCIgeDI9IjQ0IiB5Mj0iNDQiIC8+PGxpbmUgeDE9IjIwIiB5MT0iNDQiIHgyPSI0NCIgeTI9IjIwIiAvPjwvc3ZnPg==");
  opacity: 0.25;
}

.gallery-modal.dark .nav {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICNGRkZGRkY7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjQiIHkxPSI4IiB4Mj0iNDgiIHkyPSIzMiIgLz48bGluZSB4MT0iMjQiIHkxPSI1NiIgeDI9IjQ4IiB5Mj0iMzIiIC8+PC9zdmc+");
  opacity: 0.25;
}

.gallery-modal.light {
  --color-background: rgba(255, 255, 255, 0.9);
  --color-background-zooming: rgba(255, 255, 255, 1);
  --color-caption-text: #000000;
}

.gallery-modal.light:before {
  animation: gallery-modal-spinner 1s infinite linear;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICMwMDAwMDA7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==");
}

.gallery-modal.light .close {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICMwMDAwMDA7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjAiIHkxPSIyMCIgeDI9IjQ0IiB5Mj0iNDQiIC8+PGxpbmUgeDE9IjIwIiB5MT0iNDQiIHgyPSI0NCIgeTI9IjIwIiAvPjwvc3ZnPg==");
  opacity: 0.375;
}

.gallery-modal.light .nav {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICMwMDAwMDA7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjQiIHkxPSI4IiB4Mj0iNDgiIHkyPSIzMiIgLz48bGluZSB4MT0iMjQiIHkxPSI1NiIgeDI9IjQ4IiB5Mj0iMzIiIC8+PC9zdmc+");
  opacity: 0.375;
}

#gallery01:not(:first-child) {
  margin-top: 4rem !important;
}

#gallery01:not(:last-child) {
  margin-bottom: 4rem !important;
}

#gallery01 .inner {
  max-width: 100%;
}

#gallery01 ul li {
  border-radius: 0rem;
  display: inline-block;
}

#gallery01 ul li .frame {
  border-radius: 0rem;
}

#gallery01 ul {
  gap: 0.5rem;
}

#gallery01 ul li .thumbnail {
  display: block;
  transition: none;
}

#gallery01 ul li img {
  height: auto;
  max-height: 15rem;
}

#gallery01 ul li .thumbnail img {
  transition: none;
}

@media (orientation: portrait) {
  .gallery-modal {
    grid-template-areas: "image" "caption";
    grid-template-columns: auto;
    justify-content: center;
  }
  .gallery-modal .nav {
    background-image: none !important;
    mix-blend-mode: difference;
    opacity: 1 !important;
    position: absolute;
  }
  .gallery-modal .nav.next {
    right: 0;
  }
  .gallery-modal .nav.previous {
    left: 0;
  }
  .gallery-modal .nav:before {
    background-color: rgba(144, 144, 144, 0.5);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICNGRkZGRkY7c3Ryb2tlLXdpZHRoOiAzcHg7fTwvc3R5bGU+PGxpbmUgeDE9IjI0IiB5MT0iOCIgeDI9IjQ4IiB5Mj0iMzIiIC8+PGxpbmUgeDE9IjI0IiB5MT0iNTYiIHgyPSI0OCIgeTI9IjMyIiAvPjwvc3ZnPg==");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    border-radius: 3rem;
    content: "";
    display: block;
    height: 3rem;
    position: absolute;
    right: 1rem;
    top: calc(50% - 1.5rem);
    width: 3rem;
  }
}
:root {
  font-size: 24px;
}
@media (max-width: 1280px) {
  :root {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 980px) {
  :root {
    font-size: 18px;
  }
}

html {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Spectral", serif;
  line-height: 1;
  margin-bottom: 0.5em;
}

p {
  line-height: 1.2em;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.main-content h2 {
  font-size: 2rem;
  color: #AD2A71;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

#page-category {
  font-size: 2rem;
  margin-bottom: 0;
  color: #828282;
}

#page-title {
  font-size: 3rem;
  margin-bottom: 0.15em;
  margin-top: 0.2rem;
}

#page-description {
  font-size: 1.5rem;
}

body {
  font-family: "Spectral", serif;
  text-align: left;
}

/*------------------------------------*\
    #MAIN
\*------------------------------------*/
@media (max-width: 980px) {
  body:before {
    margin-top: 56px;
  }
}
/* main size containers */
#main > .inner, .site-header {
  width: 45rem;
}

body:before {
  width: calc(100vw - 45rem);
}

@media (max-width: 1280px) {
  html {
    font-size: 20px;
  }
  #main > .inner, .site-header {
    width: 40rem;
  }
  body:before {
    width: calc(100vw - 40rem);
  }
}
@media (max-width: 1920px) {
  #main > .inner, .site-header {
    width: 40rem;
  }
  body:before {
    width: calc(100vw - 40rem);
  }
}
@media (max-width: 980px) {
  #main > .inner, .site-header {
    width: 100%;
  }
  body:before {
    flex-grow: 1;
    flex-shrink: 0;
    max-height: 45vh;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .site-header {
    position: absolute;
    top: 0;
  }
  #wrapper {
    height: auto !important;
    min-height: 0;
    padding: 0;
  }
}
@media (max-width: 736px) {
  #main > .inner {
    --padding-horizontal: 1.5rem;
    --padding-vertical: 2rem;
    --spacing: 0.75rem;
    max-width: 100%;
  }
}
#page-description {
  color: #AD2A71;
}

ul {
  font-family: "Spectral", serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
ul a {
  text-decoration: underline;
}
ul a:hover {
  text-decoration: none;
}
ul li {
  margin-top: 0.5em;
  position: relative;
  text-align: left;
  padding-left: 1rem;
  direction: var(--site-language-direction);
}
ul li p {
  flex-grow: 1;
  flex-shrink: 1;
  order: 3;
}
ul li::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%3E%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2210%22%20fill%3D%22%23B0B0B0%22%20%2F%3E%3C%2Fsvg%3E");
  background-position: left 60%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  order: 0;
  position: absolute;
  top: 8px;
  left: 2px;
}
@media (max-width: 980px) {
  ul li::before {
    top: 2px;
    height: 12px;
    min-width: 12px;
  }
}
ul li::after {
  content: "";
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  order: 1;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .main-content ul li {
    left: -2px;
  }
  .main-content ul li::before {
    top: 6px;
    height: 14px;
    padding-left: 22px;
  }
}
.hidden {
  display: none !important;
}

.paypal-powered-by {
  margin-top: 8px;
  font-size: 14px;
}

hr, .divider {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

hr::before, .divider::before {
  content: "";
  display: block;
  width: 100%;
  border-top: dotted 1px #B0B0B0;
  height: 1px;
}

.testimonial {
  border-left: 4px solid #AD2A71;
  padding-left: 1em;
}

.testimonial-attribution {
  margin-top: 0.5em;
}

.main-content p {
  margin-bottom: 1em;
  line-height: 1.4em;
}

mark {
  background-color: rgba(173, 142, 42, 0.3843137255);
}

/*# sourceMappingURL=workshops.css.map */