#discountPopup {
    font-family: 'Spectral', serif;
    letter-spacing: -0.8px;
    line-height: 1.5;
}

#discountPopup h2 {
    margin: 10px 0 20px;
    font-size: 36px;
}

#discountPopup p, #discountPopup li, #discountPopup strong {
    font-size: 20px;
    margin-bottom: 12px;
}


#discountPopup li {
    margin-bottom: 8px;
    margin-left: 18px;
    padding-left: 4px;
    list-style-type: disc;
}

.discount-popup-intro {
    font-size: 24px;
}


/* Existing styles for discount options */
.discount-options {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.discount-option {
    padding: 20px;
    background-color: #EBEBEB;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discount-option-button-container {
    border-top: 1px solid #ccc;
    padding-top: 18px;
}


@media (max-width: 980px) {
   
    .discount-popup-intro {
        font-size: 20px;
    }

    #discountPopup h2 {
        margin: 10px 0 20px;
        font-size: 24px;
    }
    
    .discount-options {
        flex-direction: column;
    }

    .discount-option {
        padding: 20px;
        width: 100%;
    }

    #main div.discount-section {
        flex-direction: column;
        gap: 12px; /* 0.75em */
        padding-top: 24px; /* 1.5em */
        align-items: flex-start;
    }
    
    #discountPopup p, #discountPopup li, #discountPopup strong, #waitlistPopup p {
        font-size: 18px;
    }

    .pricing-option h1 {
        font-size: 26px;
    }

}


#main div.discount-sections {
    margin-bottom: 4px;
}

#main .discount-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px; /* 1em 1.5em */
    background-color: #f6e8f2;
    margin-bottom: 4px; /* 0.4em */
}

.discount-section p {
    margin: 0;
    color: #AD2A71;
    font-size: 20px;
    font-weight: 500;
}


@media (max-width: 980px) {
    #main div.discount-section {
        flex-direction: column;
        gap: 12px;
        padding-top: 24px;
        align-items: flex-start;
    }
}


