/* Typography */

.discount-section p { font-size: 1.2rem; font-weight: 500; }
#discountPopup      { font-size: 1rem; margin-bottom: .5em;  line-height: 1.5; }



/* Existing styles for discount options */
.discount-options {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.discount-option {
    padding: 20px;
    background-color: #EBEBEB;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discount-option-button-container {
    border-top: 1px solid #ccc;
    padding-top: 18px;
}


@media (max-width: 980px) {
   

    #discountPopup h2 {
        margin: 10px 0 20px;
    }
    
    .discount-options {
        flex-direction: column;
    }

    .discount-option {
        padding: 20px;
        width: 100%;
    }

    #main div.discount-section {
        flex-direction: column;
        gap: 12px; /* 0.75em */
        padding-top: 24px; /* 1.5em */
        align-items: flex-start;
    }

}


#main div.discount-sections {
    margin-bottom: 4px;
}

#main .discount-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px; /* 1em 1.5em */
    background-color: #f6e8f2;
    margin-bottom: 4px; /* 0.4em */
}

.discount-section {
    color: $brand-color;
}



@media (max-width: 980px) {
    #main div.discount-section {
        flex-direction: column;
        gap: 12px;
        padding-top: 24px;
        align-items: flex-start;
    }
}


