.signup-form-container, .signup-form-container * {
    box-sizing: border-box;
}

.signup-form-container {
    background-color: $grey-color-light;
    padding: 2rem;
    font-size: 1rem;
    width: 50%;

    h4 {
        margin-top: 0;
    }

    @include media-query($layout-breakpoint-small) {
        width: 100%;
    }   
}

input[type="email"], input[type="text"] {
    padding: 0.5rem;
    border: 1px solid $grey-color;
    border-radius: 0.25rem;
    font-size: .75rem;
    font-family: $base-font-family;
    width: 100%;
}

.button-container {
    margin-top: 1rem;
}