
.site-header {
    padding-left: 3rem;
    padding-right: 3rem;
    z-index: 39;
    background-color: #fff;
    width: 50rem;
    @media (max-width: $layout-breakpoint-small) {
        position: absolute;
        width: 100%;
        font-size: 1.5rem;
        padding-left: 21.3333px;
        padding-right: 21.3333px;
    }
}

.site-title {
    text-decoration: none;
}


@media (max-width: $layout-breakpoint-small) {
    body:before {
        margin-top: 56px;
    }
}
