body {
    font-family: 'Spectral', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Spectral', serif;
	line-height: 1;
    margin-bottom: 0.5em;
}

ul {
    margin-bottom: .8em;
}

button, .button {
    background-color: #AD2A71;
    color: #fff;
    padding: .4em .8em;
    border-radius: .25em;
    border: none;
    cursor: pointer;
    font-family: 'Spectral', serif;
    font-size: 16px;
}

button:active, .button:active{
    background-color: #53183a;
}

button:hover, .button:hover {
    background-color: #801E56;
}

button.outline, .button.outline {
    background-color: transparent;
    border: 1px solid #AD2A71;
    color: #AD2A71;
}

button.outline:hover, .button.outline:hover {
    background-color: #AD2A71;
    color: #fff;
}

button.medium, .button.medium {
    padding: .6em 1em;
    font-size: 16px;
}

.hidden {
	display: none;
}

.original-price {
	text-decoration: line-through;
	color: #999;
}

.modal {
    display: none;
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    /* padding-top: 60px; */
}

.modal .modal-title {
    margin-bottom: 20px;
    font-size: 48px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 90%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    z-index: 50;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.discount-options {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}


#discountPopup {
    font-family: 'Spectral', serif;
    letter-spacing: -0.05rem;
    line-height: 1.5;
}

#discountPopup li {
    margin-bottom: 0.25em;
    margin-left: 18px;
    padding-left: 4px;
    list-style-type: disc;
}

#discountPopup h2 {
    margin: 10px 0 20px;
    font-size: 36px;
}


.discount-popup-intro {
    font-size: 24px;
}

.discount-option {
    padding: 20px;
    background-color: #EBEBEB;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discount-option-button-container {
    border-top: 1px solid #ccc;
    padding-top: 18px;
}

.discount-options {
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
}

.discount-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1.5em;
    /* border: 1px solid #d695b8; */
    border-radius: 0.5em;
    background-color: #f6e8f2;
}

.discount-section p {
    margin: 0;
    color: #AD2A71;
    font-size: 20px;
    font-weight: 500;
}

.paypal-powered-by {
    margin-top: .4em;
    font-size: 12px;
}

@media (max-width: 980px) {
    button, .button {
        font-size: 16px;
    }

    .modal .modal-title {
        margin-bottom: 20px;
        font-size: 36px;
    }
    
    .modal-content {
        padding: 20px;
    }
  
    .discount-popup-intro {
        font-size: 20px;
    }

    #discountPopup h2 {
        margin: 10px 0 20px;
        font-size: 24px;
    }
    
    .discount-options {
        flex-direction: column;
    }

    .discount-option {
        padding: 20px;
        width: 100%;
    }

    .discount-section {
        flex-direction: column;
        gap: 0.75em;
        padding-top: 1.5em;
    }
}